.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .music-lines{
  width:100%;
  height: 50px;
} */

.main{
  width: 80%;
  margin: auto;
  border: 1px solid black;
  padding: 10px;

  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 20px;
  grid-row-gap: 25px;
}
/*=================*/
/*  LIST OF SONGS */
/*================*/


.list-item{
  background-color: #0083FF;
  padding:5px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 5px;
}

.list-item:hover{
  background-color: #56ADFF;
}

/*=================*/
/*  LIST OF SONGS */
/*================*/


/*=================*/
/*  ADDING SONGS  */
/*================*/

.form{
  width:100%;
  border: 1px solid black;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 25px;
}


.form > .title{
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

.form > .url{
  grid-column: 1 / 3;
  grid-row: 3 / 5;

}

.form > .list{
  grid-column: 4 / 7;
  grid-row: 1 / 4;
  border: 1px solid black;
  border-radius: 5px;
}
.form > .save{
  grid-column: 1 / 2;
  grid-row: 5 / 6;
}

.list-item{
  height: 15px;
}




#menu > li {
  display: inline-block;
  padding: 5px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 5px;
}

#menu > li:hover {
  background-color: green;
}

#menu > li > .menu-Item{
  text-decoration: none;
  color:black;
}

.song-item{
  border: 1px solid black;
  border-radius: 5px;

  padding:10px;
  margin: 5px;

  background-color: red;
  text-align: center;
cursor: pointer;
}

.song-item > label{
cursor: pointer;
}


.songItem{
  padding:5px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 5px;
}

.songItem:hover{
  background-color:blue;
}

.taskItem{
  padding:5px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 5px;
}

.noLine{
  text-decoration: none;
}

.black{
  color:black;

}
/* .songContainer{
  display: grid;
  grid-template-columns: 500px 500px 200px 200px;
  grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px;
  grid-column-gap: 20px;
  grid-row-gap: 25px;
} */

/*
.songDetails{
  border: 1px solid black;
  border-radius: 5px;
  grid-column-start: 1;
  grid-column-end: 2;

  grid-row-start: 1;
  grid-row-end: 2;

}

.video{
  border: 1px solid black;
  border-radius: 5px;

  grid-column-start: 2;
  grid-column-end: 4;

  grid-row-start: 1;
  grid-row-end: 5;

}

.buttons{
  border: 1px solid black;
  border-radius: 5px;

  grid-column-start: 2;
  grid-column-end: 4;

  grid-row-start: 5;
  grid-row-end: 6;

}

.videoDetails{
border: 1px solid black;
border-radius: 5px;
grid-column-start: 1;
grid-column-end: 2;

  grid-row-start: 2;
  grid-row-end: 3;

}

.buttonEdit{
  grid-column-start: 1;
  grid-column-end: 3;

  grid-row-start: 4;
  grid-row-end: 5;
}

.buttonDelete{
  grid-column-start: 1;
  grid-column-end: 2;

  grid-row-start: 6;
  grid-row-end: 7;
}


/* .PausePlayButton{
  grid-column-start: 6;
  grid-column-end: 7;

  grid-row-start: 4;
  grid-row-end: 5;
}

.playedbutton{
  grid-column-start: 1;
  grid-column-end: 2;

  grid-row-start: 5;
  grid-row-end: 7;
} */


.name{
  grid-area: name;
  border: 1px solid black;
    border-radius: 5px;
}

.selectForm{
  grid-area: selectForm;
  border: 1px solid black;
    border-radius: 5px;
}

.time{
  grid-area: time;
  border: 1px solid black;
    border-radius: 5px;
}

.contentText{
  grid-area: contentText;
  border: 1px solid black;
    border-radius: 5px;
}

.save{
  grid-area: save;
  border: 1px solid black;
    border-radius: 5px;
}
.TaskFormContainer{
  padding: 10px;
  display:grid;
  border: 1px solid black;
    border-radius: 5px;
  width: 60%;
  margin: auto;
  height: 300px;

  grid-column-gap: 5%;
  grid-row-gap: 5%;

  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto;
  grid-template-areas:
  "name name selectForm selectForm"
  "time time selectForm selectForm"
  "contentText contentText selectForm selectForm"
  "save save selectForm selectForm";
}

.optionSelect{
  width:100%;
  border-radius: 5px;
  height:50px;
  background-color: red;
  margin: 5px;
}
.selectForm{
  padding: 15px;
  width:100%;
  grid-area: selectForm;
  border-radius: 5px;
  width: 300px;
}


.grey{
  background-color: blue;
}




/*



.buttonTask{
  grid-column-start: 6;
  grid-column-end: 7;

  grid-row-start: 4;
  grid-row-end: 5;
} */
