.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.main{
  margin-top: 10px;
  width: 80%;
  height:auto;
  margin: auto;
  /* border: 1px solid black; */
  border-radius:5px;
  /* padding: 10px; */

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  "top top top top top top"
  "time time . video video video"
  "edit delete . video video video"
  ". . . video video video"

  ;
}

.list-item{
  width:80%;
  margin:auto;
  background-color: #00b2f6  ;
  /* background-color: #1235b9  ; */
  margin-bottom: 5px;
  padding:5px;
  /* border: 1px solid black; */
  border-radius:5px;
}

.component-list{
  grid-area:top;
}

.list-item:hover{
  background-color: #66c7bb;
}

a{
  text-decoration: none;
}

.title{
  text-align: center;
  font-size: 40px;
  text-align: center;
  color: black;
  /* width:100%; */
  grid-area: top;
}

#menu{
  width:80%;
  margin:auto;
  padding: 10px;
  /* border:1px solid black; */
  }

#menu > li{
  display: inline-block;
  margin: 10px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #ff9a00;
}

#menu > li:hover{
  background-color: #66c7bb;
  cursor:pointer;
}


a{
  color:black;
  font-size: 25px;

}

.Songs{

  border-radius: 5px;
  margin-top: 20px;
  grid-area: video;
}



.songContainer{
  border:1px solid black;
  margin-bottom: 10px;
}

.button-delete{
  grid-area: delete;
  padding: 5px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: #ffef92;
}

.button-edit{
  grid-area: edit;
  padding: 5px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: #ffef92;
}

.task-title{
  grid-area: top;
  font-size: 30px;
  text-align: center;
}

.task-time{
    grid-area: time;
}

.video-player{
  grid-area:video;
}

.song-task{
  grid-area:time;
}

.add-song{
  grid-column: 1 / 7;
  margin:auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  "time url . video video video"
  "edit save . video video video"
  ". . . video video video";
}

.add-song > .list{
  border-radius: 5px;
  margin-top: 20px;
  grid-area: video;
}


.title-song{
  border-radius: 5px;
  padding: 5px;
  margin-top: 20px;
  margin-right: 10px;
  margin-bottom: 10px;
  grid-area: time;
}

.url-song{
  grid-area:url;
    margin-top: 20px;
    border-radius: 5px;
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.content-task{
  grid-area: edit;
    border-radius: 5px;
  padding: 5px;
  margin-top: 20px;
  margin-right: 10px;
  margin-bottom: 10px;
  }

.button-save{
  grid-area: save;
  padding: 5px;
  margin-top: 20px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #ffef92;
}
